/* ==========================================================================
   variable: Colors
   ========================================================================== */

// colors
$colors: (
  primary: (
    1: #458ff6,
    2: #5a98f2,
    3: #67c3f3
  ),
  gradient: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%),
  black: #000,
  grey: #7d7987,
  white: #fff,
  purple: #1f1534
);
